---
layout: default
title: Souldern Village
description: Souldern Village
---

{% comment %}
{% include poem.html %}
{% include memorial-role.html %}
{% endcomment %}





<p style="text-align:center"><b style="font-size:110%">Welcome to the Souldern Village Website, </b> which has been created to be used by the parishioners of the village, and others who may be interested in the content that has been posted. The site is packed with information relating to past, present and future events.</p>



<p style="text-align:center">Announcements / News items and local information will be posted regularly.</p>

<div style="margin-left:auto;margin-right:auto;border:solid thick red; border-radius:.5em;
padding:1em;font-size:120%">
  <h4>Coronavirus &mdash; COVID-19</h4>
  <p>Local information about Coronavirus will be posted to this page:</p>
  <p>
    <a href="/home/announcements/covid-19">Coronavirus &mdash; COVID-19</a>
  </p>
 </div>

{% include calendar-view.html %}
<div style="clear:right;float:right">
<p><a href="https://twitter.com/hashtag/Souldern"><b>#Souldern Tweets</b></a></p>
</div>

<p><b>Souldern</b> or “Sulthorn” as it was originally named was founded before Roman times,
the village was established on the site of excellent freshwater springs, some of which to this day continue to flow through the village pond. More details of the history of our village may be found in the  <a href="/history">history section</a> of this site.</p>

<p>The Calendar lists <a href="/home/calendar">current activities</a> in Souldern.</p>
<p>If there is any more information that you would like to see on the site, <a href="/home/contact-website">please let us know</a>!</p>


<div style="clear:both;text-align:center">
  
<img src="https://lh3.googleusercontent.com/iYKyq6Uyq3fCvbARw5kiJMfu2iBxHnFxjFDIB6pLmDmp3YXCanuk2e1pV3s_GjmS_MJria6pRAwtQ3EcHCYrgHZCdJ9j8ajZTpc6QAEmTO-_vShaUCt2SjvpUbruZtLTuy7VA_9QnGtxsq_gnobHZuL8QUzHSKiR8aC2KgejFZi2EjCE8Rm92Zi2ecnL7kkZoFwujUqg7jBTnetGWEC3TcW3xgWHvIBNJ6qfxb4A_WhXOCAa9Dd8nQri4KGAYUK5-8ZI0nVzjeHuPjOpTwFe-D2KsHWOfq40l4qbzNvAQ2GemRo4JSt3X2T8hRc5fRyscgQA5dfQO1yxxk7MdIorqNy0PpUiDN2DbKYtSNb0_OvoDq_xXffOC-n3ubrvVOoUlJlO32C3omYwveEh1Jm-iD8B7fWhiT1bTux-6_m0tra_2jI96oW6DYQN9ZGcBg8p3BhxaZtIxZA6sQZ6CHhKY6bXG0xAFbcYC9p1yaO9wE3A4Q6j_YmWBowGqmFrrntmmF_mt7ckdM6GHYp-qgv7sxtD3cqcuR8n0_ut7ykPysMSruWKeW4-KHMJDDYMjSXJM1zkrm6WTd9Pq2rHgToxaKCRDNrN4OWIovwIPFU_0f224FXAEfinVChfYDdjqorIEObplTRMd78LZ6mYlyYKOA9rH0mUfXyNs7b7Y4coVfFQ56mpTeSkTa-GwcgS9P4TZXPDHIJQZcjr-8-vThxt33qd9bmVMrYL2BOeOFSZ6ZdXwys=w1098-h618-no" width="85%"/>

<p style="margin-top:1em"></p>

<img src="https://lh3.googleusercontent.com/bvk4QjgsgVsFo4BHDxTbb5UYLNSMR6oPzpijNUyruJXg1vG0oHqEZyyIqfisYQpqh1342ZDaG44AgyRWFQnV72W1tgFdN2Joyr1eKgHAj81O794Ic6o93xzeyakNVp2RbuLnPwW4o3G2ZbFBhRA5FfiiOEnNJ8XvPIr5JmvJwRUH3XUSWmUx-MGR4oDkwr9vDjQ3wvY10CexClxM9imctVhhn9GN-FJDw8t4KI80gsDjxTUtuIXuzQO33Ka82WtWpB_AGaLnpK43vQI0O5JIxhVoy-ipCnkpGKgkvnQmCi0IgdagBZN3L-yRmu0niYDV3TdqqP7gV6l0_GxYcgRo8FHFV5yiNtXu8_bT4mio76e5g_XBtJWKLC1M2avKbqIWksC4daPPtEwgBpfigIsIHkedGLNfaJ4qTdFkb7yU3Nt0l_UQVLVu6eaYMvNjtacGoPJlv1wzss8zFSLICIaHsl1Nb2I3yDhpg6sllLCvzfwkzm_LJhWlAnFsPLqASpB1mE21nlZXPXFYRbqEbNDLorbdvE6JGMj6xVTexR66QY_Av3TC_zC16FCX9_77Jx1QK4WqfjaT0VNSdMjhfauvHPgLvkNpxX-6oSXGGJ1zLOXsmYKYQ7l8YVWzqsdhuGFEFLtEvCzLftzvZlPtXX8znYQC77yc7RiaoW0Ro6Vpcb-j_y8WZP38LIER29iJuHgQYgvDS-Gpc5p6DppL_bEhJsAjYcUBsnvvxgmBk5Hjf_kO82az=w657-h876-no" />

</div>


{% include recent-announcements.html %}
