<nav id="primary_nav_wrap"> 
  <ul>
    <li class="class="current-menu-item" >
    <a ref="/home">Home</a>
    <ul>
     <li>
       <a href="/home/calendar" >Calendar</a>
     </li>
     <li class="">
       <a href="/home/announcements" >Announcements</a>
     </li>
     <li class="">
       <a href="/home/local-services" >Local Services</a>
     </li>
     <li class="">
       <a href="/home/three-parishes" >The Three Parishes</a>
     </li>
     <li class="">
       <a href="/home/map" >Map</a>
     </li>
     <li class="">
       <a href="/home/contact-website" >Contact Website</a>
     </li>
     <li class="">
       <a href="/home/about" >About</a>
     </li>
    </ul>
   </li>
   <li class="topLevel parent " >
     <a href="/parish-council"  class="sites-navigation-link topLevel">Parish Council</a>
    <ul role="navigation" class="has-expander">
     <li class="">
       <a href="/parish-council/spc-agenda" >SPC Agenda</a>
     </li>
     <li class="">
       <a href="/parish-council/spc-minutes" >SPC Minutes</a>
     </li>
     <li class="">
       <a href="/parish-council/spc-newsletter" >SPC Newsletter</a>
     </li>
     <li class="">
       <a href="/parish-council/planning" >Planning</a>
     </li>
     <li class="">
       <a href="/parish-council/spc-members" >SPC Members</a>
     </li>
     <li class="">
       <a href="/parish-council/cherwell-dc-and-mps" >CDC and MPs</a>
     </li>
    </ul>
   </li>
   <li class="topLevel ">
     <a href="/parish-church"  class="sites-navigation-link topLevel">Parish Church</a>
   </li>
   <li class="topLevel parent " >
     <a href="/chapel"  class="sites-navigation-link topLevel">Wesleyan Chapel</a>
    <ul role="navigation" class="has-expander">
     <li class="">
       <a href="/chapel/sunday-school" >Sunday School 1869 – 2016</a>
     </li>
    </ul>
   </li>
   <li class="topLevel ">
     <a href="/united-charity"  class="sites-navigation-link topLevel">United Charity</a>
   </li>
   <li class="topLevel parent " >
     <a href="/village-hall"  class="sites-navigation-link topLevel">Village Hall</a>
    <ul role="navigation" class="has-expander">
     <li class="">
       <a href="/village-hall/community-market" >Community Market</a>
     </li>
    </ul>
   </li>
   <li class="topLevel ">
     <a href="/horticultural-society"  class="sites-navigation-link topLevel">Horticultural Society</a>
   </li>
   <li class="topLevel ">
     <a href="/football-club"  class="sites-navigation-link topLevel">Football</a>
   </li>
   <li class="topLevel ">
     <a href="/the-fox"  class="sites-navigation-link topLevel">The Fox Inn</a>
   </li>
   <li class="topLevel parent " >
     <a href="/recreational-areas"  class="sites-navigation-link topLevel">Recreation</a>
    <ul role="navigation" class="has-expander">
     <li class="">
       <a href="/recreational-areas/nancy-bowles-wood" >Nancy Bowles Wood</a>
     </li>
     <li class="">
       <a href="/recreational-areas/the-pond" >The Pond</a>
     </li>
     <li class="">
       <a href="/recreational-areas/sports-field" >Sports Field</a>
     </li>
     <li class="">
       <a href="/recreational-areas/playground" >Playground</a>
     </li>
     <li class="">
       <a href="/recreational-areas/the-pound" >The Pound</a>
     </li>
     <li class="">
       <a href="/recreational-areas/the-green" >The Green</a>
     </li>
     <li class="">
       <a href="/recreational-areas/footpaths" >Footpaths</a>
     </li>
    </ul>
   </li>
   <li class="topLevel parent " >
     <a href="/history"  class="sites-navigation-link topLevel">History</a>
    <ul role="navigation" class="has-expander">
     <li class="">
       <a href="/history/transport" >Transport</a>
     </li>
     <li class="">
       <a href="/history/historic-houses" >Historic Houses</a>
     </li>
     <li class="">
       <a href="/history/societies" >Societies</a>
     </li>
    </ul>
   </li>
  </ul>
</nav>
