---
layout: default
title: Church &amp; Chapel Sunday School
---
<h1>Church &amp; Chapel Sunday School</h1>
<div id="sites-canvas-main" class="sites-canvas-main">
<div id="sites-canvas-main-content">
<table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox"><tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><div>
<h2 id="TOC-Church-Chapel-Together">Church &amp; Chapel Together</h2>
<br />
Souldern Church &amp; Souldern Chapel are working together <br />
to provide Sunday Worship for children, youth &amp; families<br />
<br />
<br />
Beginning Sunday 24th April 2016<br />
<br />
2nd Sunday of the month — ‘Kids on Sunday’ 10–11am at the Chapel<br />
<br />
3rd Sunday of the month — ‘Youth on Sunday’ at the Chapel<br />
<br />
4th Sunday of the month — ‘Family Church’ in St Mary’s<br /><br /></div><div><a href="/church--chapel-sunday-school/church-chapel-programme-2016">A full programme is available at this link on the site.</a><br /></div><div>
<br /><div>

                 

<ul class="category-list">
  {%- assign sorted = site.pages | sort: 'date'  | where_exp:"item","item.category contains 'ssannounce'" | reverse -%}
  {%- for page in sorted limit:3 -%}
  <li><a href="/{{page.path | replace: '.html', ''}}">{{page.title}}</a> [{{page.date}}]
    <blockquote style="background-color:lightgoldenrodyellow; border;border-radius:1em;">

{% if page.content contains '<img ' and page.content contains '/>' %}
<div style="float: left; padding: .5em;">
  <img {{ ((page.content | split:'<img ' | last) | split: '/>' | first) }} style="height: 5em;width: auto;"/>
  </div>
{% endif %}

{% if page.content contains '<!--excerpt.start-->' and page.content contains '<!--excerpt.end-->' %}
	{{ ((page.content | split:'<!--excerpt.start-->' | last) | split: '<!--excerpt.end-->' | first) | strip_html | truncatewords: 40 }}
{% else %}
	{{ page.content | strip_html | truncatewords: 40 }}
{% endif %}
 <br style="clear:both"/>
</blockquote>

  </li>
  {%- endfor %}
</ul>
                    Showing posts <strong>1 - 3</strong>
                    <a href="/church--chapel-sunday-school/church-chapel-announcements" dir="ltr">View more »</a>
</div>
</div>
</div>
</div>
<p>
The leader is Barbara McGarry.</p>
<div>
