---
layout: default
title: Parish Council
---
<h3 id="sites-page-title-header" style="" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Parish Council</span>
</h3>
<div id="sites-canvas-main" class="sites-canvas-main">
<div id="sites-canvas-main-content">
<table cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox"><tbody><tr><td class="sites-layout-tile sites-tile-name-content-1"><div dir="ltr"><h2><a name="TOC-Souldern-Parish-Council"></a>Souldern Parish Council</h2>
<p>Parish Councils represent the first
tier of local government. They have the
authority to raise money through taxation, known as the annual precept which is
collected through Council Tax, and a range of powers with which to spend this
public money.</p>
<p>In Souldern the precept is
usually between £5700 and £6000. Some of the issues which may concern Parish Councils, are planning, playing fields
and playgrounds, rights of way, community safety, litter, street lighting,
maintenance of stone walls, grass mowing, burial grounds, village greens and
bus shelters. More information about the role of Parish Councils can be found
here: <a href="http://www.nalc.gov.uk/" rel="nofollow">http://www.nalc.gov.uk/</a></p>
<p>Souldern Parish Council has <a href="/parish-council/spc-members">five members</a>, and they may be
contacted through the Parish Clerk via email (<tt>parishclerk@souldern.org</tt>) or via the <a href="/home/contact-website">web form</a>.</p>
<p>Councillors are elected to the Council every four years, or
if a vacancy arises sooner, they may be co-opted onto the Council.</p>
<p>Full council meeting are held every two months, and there is
an additional meeting in the intervening month specifically to discuss planning
issues. All meetings are held in the village hall and are open to members of
the public.</p>
<p>The dates are advertised on the village notice boards, in
the “<a href="/home/three-parishes">Three Parishes</a>,” and in the <a href="/parish-council/spc-newsletter">Parish Council Newsletter</a>, and on the <a href="/home/announcements">Announcements page</a> of this website.</p>
<p>Souldern residents are very welcome to raise any concerns at
these meetings and time is allocated for this. “Issues from the Floor” is
always included early on in the agenda of each full Parish Council meeting. Whilst
our constitution does not permit us to make decisions on matters not
specifically itemised on the agenda, we will ensure that where appropriate, any
concern which needs further discussion is included on the agenda for the
following meeting.</p>
<h2><a name="TOC-Meeting-Agenda"></a>Meeting Agenda</h2>

	  <p>
	    {% assign ct = 0 %}
  {% for  sf in site.static_files |reverse  %}
	    {% if sf.path contains "/spc-agenda/" %}
	    	    {% assign ct = ct + 1 %}

   <a href="{{sf.path}}">( {{ ct }}) {{ sf.basename }}</a>
  {% endif %}
{% endfor %}
	  </p>
	  
<h2><a name="TOC-Recent-Minutes"></a>Recent Minutes</h2>

</div>
</div></div></td></tr></tbody></table>
</div> 
</div> 
