.main-content {word-wrap: break-word;}
body{font-size: 1.1rem; line-height: 1.5;color: #606c71;}
html {background-color:#F7FFF0; overflow-y:scroll;}
body {max-width:95em;margin-left:auto;margin-right:auto;background-color:white;min-height:100vh;}
nav.book {font-size:80%;text-indent:0em;text-align:center;background-color:rgb(222,237,237); }
nav.book > a.prev {width:30%;text-align:left;float:left;white-space:nowrap;}
nav.book > a.next {width:30%;text-align:right;float:right;white-space:nowrap;}
nav.book > a.up  {white-space:nowrap;}
nav.book > div {clear:both;}
div.main
{max-width:40em;text-align:justify;margin-left:auto;margin-right:auto;
font-family:Times Roman,serif}
div.main > h2 {text-indent:0em;text-align:center;}
.main-content blockquote{border-left: none;margin-left: 1.5em;color:inherit;}
img.center {margin:0 auto;display:block;}
div.footnote {font-size:80%;border:solid thin black;margin-top:2em;margin-bottom:2em;padding:.5em .5em 0 .5em;}
div.footnote p {line-height:1.1; margin-top:0;margin-bottom:0}
