---
---

@import "{{ site.theme }}";


header.page-header {
    padding-top: 0pt;
    padding-bottom: 0pt;
}

/* google sites remnants */

#sites-page-title-header {font-size: 200%}

td.sites-layout-tile  { border-width: 0pt ! important;}

/* divs replacing tables */


@media screen and (min-width: 85em) {
    div.threecol > div {width: 33%;  display: inline-block}
}
